
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	line-height: 2;
}

		

		[class*="col-"] {
		    width: 100%;
		    float: left;
		    padding: 15px;
			}
	@media only screen and (min-width: 768px) {
	    .col-1 {width: 8.33%;}
	    .col-2 {width: 16.66%;}
	    .col-3 {width: 25%;}
	    .col-4 {width: 33.33%;}
	    .col-5 {width: 41.66%;}
	    .col-6 {width: 50%;}
	    .col-7 {width: 58.33%;}
	    .col-8 {width: 66.66%;}
	    .col-9 {width: 75%;}
	    .col-10 {width: 83.33%;}
	    .col-11 {width: 91.66%;}
	    .col-12 {width: 100%;}
				}
		.row::after {
			content: "";
			clear: both;
			display: block;
		}


		[class*="col-"] {
		    width: 100%;
		    float: left;
		    padding: 15px;
		}
	@media only screen and (min-width: 600px) {
	    .col-m-1 {width: 8.33%;}
	    .col-m-2 {width: 16.66%;}
	    .col-m-3 {width: 25%;}
	    .col-m-4 {width: 33.33%;}
	    .col-m-5 {width: 41.66%;}
	    .col-m-6 {width: 50%;}
	    .col-m-7 {width: 58.33%;}
	    .col-m-8 {width: 66.66%;}
	    .col-m-9 {width: 75%;}
	    .col-m-10 {width: 83.33%;}
	    .col-m-11 {width: 91.66%;}
	    .col-m-12 {width: 100%;}
				}
		.row::after {
		content: "";
		clear: both;
		display: block;
		}
	


	.header {
		font-size: 250%;
		font-style: sans-serif, serif;
		text-align: center;
	}
	

	#textSizeP1 {
		text-align: center;
		font-size: 200%;
		font-color: black;
		font-family: serif, serif;
	}

	.subjectsEditP1 {
		text-align: center;
		font-size: 150%;
		font-color: black;
		font-family: sans-serif, serif;
	}

	#nav_1 {
		text-align: center;
		font-size: 140%;
		font-color: black;
		font-family: sans-serif, serif;
	}

	.textSizeP2 {
		text-align: center;
		font-size: 150%;
		font-color: black;
		font-family: sans-serif, serif;
	}


	.textSizeP3 {
		text-align: center;
		font-size: 150%;
		font-color: black;
		font-family: sans-serif, serif;
	}

	.textSizeP4 {
		text-align: center;
		font-size: 150%;
		font-color: black;
		font-family: sans-serif, serif;
	}


	.background {
		background-image: url("http://www.pixeden.com/media/k2/galleries/220/002-wood-melamine-subttle-pattern-background-pat.jpg");		
	}

	.navBar1 {
		font-size: 100%;
		font-color: black;
		font-family: sans-serif, serif;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
		}


	li {
    	float: left;
		}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
		}

	li a:hover {
    	background-color: #111;
		}
	

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: none;
	opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: white;
    color: black;
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -25%;
    left: 20%;
    margin-left: -60px;
    font-size: 150%;
    opacity: 0;
    transition: opacity 1s;
    font-family: sans-serif, serif;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%; 
    margin-top: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent black transparent;  
}


.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
	
